[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim_runtime/sources_non_forked/tagbar"]
	path = vim_runtime/sources_non_forked/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/plugin/phpctags"]
	path = vim/plugin/phpctags
	url = https://github.com/vim-php/phpctags
[submodule "vim_runtime/sources_non_forked/vim-fugitive"]
	path = vim_runtime/sources_non_forked/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
